*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* banner background styles */
.banner{
    background-image:url(/images/banner/banner1.png);
    background-repeat: no-repeat;
    background-color: #4139396c;
    background-blend-mode: lighten;
    background-size: cover;
    height: 808px;
    width: 100%;
    text-align: right;
}
/* banner heading styles */
.banner-heading{
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    padding: 205px 200px 10px 700px;
   
}
/* banner description styles */
.banner-description{
    font-size: 16px;
    color: #444343;
    padding: 0 200px 20px 700px;
}
/* button styles */
.button{
    padding: 20px;
    background-color: #F15B22;
    color: #FFFFFF;
    margin: 0 200px 20px 700px ;
    border: none;
}
/* my failures of previous year styles */
.my-failure{
    display: flex;
    padding:50px 200px;

}
.failure-of-previous{
    padding: 250px 0 0 50px;

}
/* .failure-image{
    color: #F15B22;
} */
.failure-title{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 24px;
}
.failure-description{
    color: #444343;
    font-size: 16px;
    padding-bottom: 16px;
}
.failure-list{
    list-style: none;
}
.failure-list li:before{
    content: "✓";
    color: #16D887;
    padding: 5px;
}
/* plans */
.my-plan{
    text-align: center;
    margin-bottom: 50px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.plan-container{
    display: flex;
    justify-content: center;
}
.plan-title{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}
.plan-description{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}
.planbox{
    text-align: center;
    padding: 30px;
    margin-bottom: 50px;
}
/* positive mindset styles */
.positive-mindset{
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(/images/watch.png);
    background-blend-mode:normal;
    height: 200px;
    width: 900px;
    padding: 60px 0 0 60px;
    margin: 70px 0 180px 180px;
    border-radius: 5px;
}
.button-call-now{
    border: none;
    color: #F15B22;
    padding: 10px;
    margin-top: 24px;
}
.always-positive{
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}
.footer{
    background: #151414;
}
.future-title{
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
}
.future-{
    color: #FFFFFF;
    font-size: 16px
}